<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id        = "net.amitgolan.flashlight"
    version   = "0.1.0">

  <name>Simply Flashlight</name>

  <description>
    Simple flashlight app including pulse button
  </description>

  <author href="" email="cywiz@msn.com">
    Hexagon Team
  </author>

  <preference name="phonegap-version" value="3.7.0" />
  <preference name="permissions" value="none"/>
  <preference name="DisallowOverscroll" value="true" />
  
  <gap:platform name="android" />
  
  <gap:plugin name="nl.x-services.plugins.flashlight" />

  <icon src="icon.png" />
</widget>
